@model string
@{
    ViewData["Title"] = "LoginSuccess";
}

<h1>Success!!</h1>
<hr />

<h3>Bienvenue @Model, votre commte viens d'être créer, <a asp-action="Login">connetez-vous</a> maintenant 
    à votre compte afin de profiter de toutes les fonctionnalités de notre site</h3>

